
<div class="row">
  <div class="col">
    <h1>View Ads</h1>
  </div>
</div>

<div class="row mb-5">
  <div class="col">
    <%= link_to 'New Ad', new_ad_path,  class: "btn btn-primary" %>
  </div>
</div>



<div class="row">
  <% @ads.each do |ad| %>
    <div class="col-12 col-lg-4">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h3 class="card-title">
            <%= link_to ad.title, ad %>
          </h3>
          <h6 class="card-subtitle mb-2 text-muted">Posted By: </h6>
          <p class="card-text"><%= ad.description %></p>
          <%= link_to 'Edit', edit_ad_path(ad), class: "btn btn-primary"%>
          <%=  link_to 'Delete', ad, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

